.idea/

# Ruby specific
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# Gem builds
*.gem

# Log files
*.log

# Temp files
.DS_Store
.byebug_history
.rspec_status
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/log/*.log

# Environment normalization
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Development files
.ruby-version
.ruby-gemset
.rvmrc

# Local development configuration
.env
.env.local

*.lock

old/