<h1>Vident Test Components</h1>

<h2>Component Types</h2>
<ul>
  <li><a href="<%= components_phlex_path %>">Phlex Components</a></li>
  <li><a href="<%= components_view_component_path %>">ViewComponent Components</a></li>
</ul>