import { Controller } from "@hotwired/stimulus"

export default class extends Controller {
  static values = {
    title: String,
  }

  select(event) {
    this.dispatch("selected", { detail: { title: this.titleValue } })
  }
}
