<p>Render an avatar:</p>
<%= render AvatarComponent.new(initials: "V C") %>
<br>
<p>The following example sets a background color override using a tailwind utility class, but this won't work due to
  specificity. To solve this use the `vident-tailwind` module too!</p>
<%= render AvatarComponent.new(initials: "V C", html_options: {class: "bg-red-500"}) %>
